@import 'global-variables';

$max-voter-card-width: 330px;

@mixin card-columns($num-cols) {
  $min-width: calc((#{$max-voter-card-width} + 2 * #{$voter-card-margin}) * #{$num-cols});
  @media (min-width: $min-width) {
    @content;
  }
}

:host {
  display: block;
  width:  100%;
}

@include card-columns(2) {
  :host {
    width: calc(50% - 2*$voter-card-margin);
  }
}

@include card-columns(3) {
  :host {
    width: calc(33.33% - 4*$voter-card-margin);
    max-width: 500px;
  }
}

.avatar {
    background-size: cover;
    background-position: center;
}

.content {
    padding-top: 1rem;
}

.medal {
    width: 16px;
    height: 16px;
}

.vote {
    margin-left: .5rem;
    margin-right: 1rem;
}

.mat-card-header {
  overflow: hidden;
}
