.card {
    max-width: 350px;
}

.avatar {
    background-size: cover;
    background-position: center;
}

.content {
    padding-top: 1rem;
}

.medal {
    width: 16px;
    height: 16px;
}

.vote {
    margin-left: .5rem;
    margin-right: 1rem;
}