:host {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    background-image: url('~src/assets/wurst.jpg');
    background-position: center;
    background-size: cover;
    position: relative;
}

.bg-attribute {
    position: absolute;
    bottom: 10px;
    left: 10px;
    display: flex;
    flex-direction: column;
    font-size: 8px;
    color: #fefefe;
}

@media screen and (min-width: 500px) {
    .bg-attribute {
        font-size: 11px;
    }
}