<mat-toolbar color="primary">
    <span class="home" (click)="home.emit()">Eurovoter</span>
    <span class="spacer"></span>
    <button class="profile-button" mat-icon-button [matMenuTriggerFor]="menu">
        <div class="profile-button-layouter">
            <app-avatar [src]="profileUrl" class="avatar"></app-avatar>
            <mat-icon>arrow_drop_down</mat-icon>
        </div>
    </button>
    <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="account.emit()">
            <mat-icon>person</mat-icon>
            <span>profile</span>
        </button>
        <button mat-menu-item (click)="logout.emit()">
            <mat-icon>logout</mat-icon>
            <span>logout</span>
        </button>
    </mat-menu>
</mat-toolbar>