:host {
    position: relative;
    width: 100%;
    height: 100%;
}

mat-toolbar {
    margin-bottom: 2rem;
}
.content {
    position: relative;
    height: 100%;
}

.spacer {
    flex: 1 1 auto;
}

.ranking-table {
    margin-top: 1rem;
    margin-bottom: 2rem;
}

.votes {
    display: flex;
}

.text-header {
    margin: 1rem;
    font-size: 1rem;
    border-bottom: 1px solid lightgrey;
    font: 300 20px Roboto, "Helvetica Neue", sans-serif;
}