:host {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

// .header {
//     height: 20%;
//     width: 100%;
//     background: url('/assets/wurst.jpg') no-repeat center center;
// }

// .background {
//     position: absolute;
//     width: 100%;
//     height: 100%;
//     // background: url('/assets/wurst.jpg') no-repeat center center;
//     // background-size: cover;
//     // filter: brightness(.15);
//     // background-position: center;
//     // background-size: cover;
// }


mat-toolbar {
    margin-bottom: 2rem;
}
.content {
    position: relative;
    height: 100%;
}

.spacer {
    flex: 1 1 auto;
}

.ranking-table {
    margin-top: 1rem;
}

.vote-selector {
    margin-top: 3rem;
}

.votes {
    display: flex;
}

.text-header {
    margin-top: 1rem;
    font-size: 1rem;
    /* font-weight: bold; */
    border-bottom: 1px solid lightgrey;
    margin-left: 1rem;
    font: 300 20px Roboto, "Helvetica Neue", sans-serif;
    margin-right: 1rem;
}