<!-- <app-toolbar (logout)="onLogout()"></app-toolbar> -->
<app-toolbar-host></app-toolbar-host>

<div class="text-header">Results</div>

<app-ranking-table class="ranking-table" [rankings]="(votingService.results$ | async) ?? []"></app-ranking-table>

<div class="text-header">Vote</div>
<app-vote-selector class="vote-selector" [countries]="(dbService.countries$ | async) ?? []"
    [vote]="(userService.loggedInUser$ | async)?.vote ?? null" (voteChange)="onVoteChanged($event)">
</app-vote-selector>

<div class="text-header">Participants</div>

<app-voter-list [voters]="(dbService.voters$ | async) ?? []"></app-voter-list>